body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #d15fee; /* Cor roxa */
    color: #ffffff; /* Cor do texto em branco */
    padding: 20px 0; /* Ajuste o padding conforme necessário */
}

header h1 {
    font-size: 2.5rem; /* Tamanho da fonte do título */
    margin: 0;
}

footer {
    background-color: #d15fee;
    margin-top: auto;
}

.btn-custom {
    background-color: #d15fee;
    border-color: #d15fee;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #ffffff;
    color: #000000;
}

.events-container {
    border: 2px dashed #d15fee;
    border-radius: 10px;
    min-height: 300px;
    color: #d15fee;
}
